<h1>Welcome to gwbny app</h1>
{% for question in object_list %}

	<li> Q : {{question.q_title}}</li>
	<h6> user : {{question.q_user}}</h6>
	<h4> {{question.q_text}}</h6>


	{% for answer in question.answer_set.all %}
		<p>answer : {{answer.ans_text}}</p>


		<h5> <input type="submit" value="Like" /> : {{answer.ans_likes}} -- Date : {{answer.ans_date}}</h5>

	{% endfor %}

{% endfor %}
